:root {
  --blue: #6495ed;
  --white: #faf0e6;
  --yellow: yellow;
  --grey: grey;
}

h1 {
  font-size: 12rem;
  margin: 0 auto;
  text-align: center;
}

.hide {
  display: none;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.gameBoard {
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-gap: 5px;
}

.gameBoard button {
  border: none;
}

.gameBoard button:hover,
.gameBoard button:focus {
  background-color: Red;
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.unplayed {
  background-color: var(--grey);
}