:root {
  --blue: #6495ed;
  --white: #faf0e6;
  --yellow: yellow;
  --grey: grey;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: clamp(1rem, 6vh, 3rem);
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
}

.hide {
  display: none;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.playerNames > form {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  grid-gap: 5px;
}

.playerNames > form > button[type="submit"] {
  justify-self: end;
}

.playerNames > form > button {
  justify-self: start;
}

.choosePlayer {
  text-transform: capitalize;
  text-align: center;
}

.choosePlayer > p {
  margin-bottom: 5px;
}

.gameBoard {
  position: relative;
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-gap: 5px;
}

.gameBoard button {
  border: none;
}

.gameBoard button:hover,
.gameBoard button:focus {
  border: 3px solid tomato;
}

.winnerOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25px;
  left: 25px;
  background-color: rgba(255, 255, 255, .5);
  height: calc(100% - 50px);
  width: calc(100% - 50px);
}

.winnerMessage {
  font-size: 3rem;
  background-color: var(--blue);
  margin-bottom: 25px;
}

.playAgain {
  font-size: 2.5rem;
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.unplayed {
  background-color: var(--grey);
}

.undoDiv {
  text-align: center;
  margin: 0 auto;
}

.messageDiv {
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.messageToUser {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid orange;

  text-transform: capitalize;
  background-color: peachpuff;

}

.socialButtons {
  position: absolute;
  top: calc(100% - 100px);
  left: 5px;
}

footer {
  position: absolute;
  top: calc(100% - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  background-color: black;
  color: white;
}